<div class="list-group">
    <a href="#" class="list-group-item active">
        User
    </a>

    <a asp-page="/index" asp-area="user" class="list-group-item"><strong>Dashboard</strong></a>


</div>